.section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.top-header {
    text-align: center;
    margin-bottom: 30px;
}

.projects-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}

@media (min-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-item {
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.project-item:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.project-image {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    transition: transform 0.4s ease;
    object-fit: cover;
}

.project-item:hover .project-image {
    transform: scale(1.1);
}

.project-name {
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
}

.project-description {
    margin: 10px 0;
    color: #666;
}

.project-technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.technology {
    background-color: #eee;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-item:hover .technology {
    background-color: #000;
    color: #fff;
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.project-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff;
    background-color: #38b2ac;
    /* Teal-400 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.project-link:hover {
    background-color: #2c7a7b;
    /* Slightly darker teal for hover */
    transform: translateY(-2px);
    cursor: pointer;
}