.section {
  padding: 3em 2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.col {
  flex: 1 1 100%;
  max-width: 48%;
}

.about-info,
.skills-box {
  padding: 1.5em;
  background: var(--color-white);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: justify;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 7%;
}

.tech-icon {
  width: 60px;
  height: auto;
  margin: 5px;
}

.about-btn .btn {
  padding: 10px 18px;
  border-radius: 8px;
  background-color: #8e9b98;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.about-btn .btn:hover {
  background-color: #0b9c8e;
  color: #fff;
  transform: scale(1.05);
}

.education-cards {
  margin-top: 3em;
  text-align: center;
  padding: 2em;
}

.education-card {
  background: #ffffff;
  padding: 1em;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 1.5em;
}

/* Default: Show full content */
.intro-long {
  display: block;
}

.intro-short {
  display: none;
}

/* For smaller screens */
@media (max-width: 768px) {
  .col {
    max-width: 100%;
  }

  .skills-list {
    justify-content: center;
  }

  .tech-icon {
    width: 50px;
  }

  .intro-long {
    display: none;
  }

  .intro-short {
    display: block;
  }
}