.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: #f8f8f8;
    padding-block: 40px 60px;
}

.top-footer p {
    font-size: 25px;
    font-weight: 600;
}

.middle-footer .footer-menu {
    display: flex;
}

.footer-menu-list {
    list-style-type: none;
}

.footer-menu-list a {
    text-decoration: none;
    color: var(--text-color-secoud);
    font-weight: 500;
    margin-left: 20px;

}

.bottom-footer {
    font-size: 14px;
    margin-top: 10px;
}